In [9]:
import joblib
import pandas as pd

In [26]:
pipeline = joblib.load("random_forest.pkl")

In [27]:
"""
proxy - доверенность
contract - договор
act - акт
application - заявление
order - приказ
invoice - счет
bill - приложение
arrangement - соглашение
contract offer - договор оферты
statute - устав
determination - решение
"""

'\nproxy - доверенность\ncontract - договор\nact - акт\napplication - заявление\norder - приказ\ninvoice - счет\nbill - приложение\narrangement - соглашение\ncontract offer - договор оферты\nstatute - устав\ndetermination - решение\n'

In [28]:
our_mappings = {
    "Акты": "act",
    "Доверенности": "proxy",
    "Договоры": "contract",
    "Договоры оферты": "contract offer",
    "Заявления": "application",
    "Приказы": "order",
    "Приложения": "bill",
    "Решения": "determination",
    "Соглашения": "arrangement",
    "Счета": "invoice",
    "Уставы": "statute"
}

their_mappings = {
    "proxy": 1,
    "contract": 2,
    "act": 3,
    "application": 4,
    "order": 5,
    "invoice": 6,
    "bill": 7,
    "arrangement": 8,
    "contract offer": 9,
    "statute": 10,
    "determination": 11
}

In [29]:
dataset = pd.read_csv("FINAL/dataset.csv", sep="|")

In [30]:
texts = dataset.document_text
index = dataset.document_id

In [31]:
predictions = pipeline.predict(texts)
predictions = pd.Series(predictions)

In [32]:
predictions = predictions.map(our_mappings)
predictions = predictions.map(their_mappings)

In [33]:
submission = pd.DataFrame({
    "document_id": index, "class_id": predictions
})

In [34]:
submission.to_csv("submission_4.csv", sep=";", index=False)

In [35]:
submission

             document_id  class_id
0   -1704473130726551677         3
1   -8755312099564304902         4
2    4407537979341024747         3
3   -2949797178567945855         5
4   -3027899216558317249         5
..                   ...       ...
258  3405154703345778066         1
259  4748799364308515784         5
260  8934602722747847927         2
261 -6862048199031279271         2
262 -7006838930911642267         5

[263 rows x 2 columns]